/*
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  line-height: 1.5; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 120rem;
  border-radius: 2rem;
  overflow: hidden; }
  .container__alignment {
    display: inline-block; }
  .container-info {
    padding: 6rem;
    background-color: #1b1938; }
    .container-info-header {
      display: inline-block;
      font-size: 3.6rem;
      font-family: "Inter", sans-serif;
      font-weight: 700;
      color: white;
      margin-bottom: 2rem; }
      .container-info-header span {
        color: #aa5cdb; }
    .container-info-text {
      display: inline-block;
      color: rgba(255, 255, 255, 0.75);
      margin-bottom: 5rem; }
      .container-info-text span {
        display: block; }
    .container-info-preview {
      display: flex;
      color: white;
      justify-content: space-between; }
      .container-info-preview span:first-of-type {
        display: block;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 2.2rem; }
      .container-info-preview p:last-of-type {
        display: block;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.6);
        font-size: 1.1rem; }
  .container-img {
    box-shadow: inset 0 0 0 1000px rgba(170, 92, 219, 0.623);
    background-image: url(/images/image-header-desktop.jpg);
    background-size: cover; }
