/*
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/

//PRYMARY
$primary-very-dark: hsl(233, 47%, 7%);
$primary-dark: hsl(244, 38%, 16%);
$primary-soft: hsl(277, 64%, 61%);

//NEUTRAL
$neutral-white: hsl(0, 0%, 100%);
$neutral-white-transparent-1: hsla(0, 0%, 100%, 0.75);
$neutral-white-transparent-2: hsla(0, 0%, 100%, 0.6);
