.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-columns: 72rem 72rem;
  margin: 0 auto;
  width: 120rem; //1440px its too musch
  border-radius: 2rem;
  overflow: hidden;

  &__alignment {
    display: inline-block; //align info text and preview as in design
  }

  &-info {
    padding: 6rem;
    background-color: $primary-dark;

    &-header {
      display: inline-block; //to change right padding after
      font-size: 3.6rem;
      font-family: "Inter", sans-serif;
      font-weight: 700;
      color: $neutral-white;
      margin-bottom: 2rem;

      & span {
        color: $primary-soft;
      }
    }

    &-text {
      display: inline-block;
      color: $neutral-white-transparent-1;
      margin-bottom: 5rem;

      & span {
        display: block;
      }
    }

    &-preview {
      display: flex;
      color: $neutral-white;
      justify-content: space-between;

      & span:first-of-type {
        display: block;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 2.2rem;
      }

      & p:last-of-type {
        display: block;
        text-transform: uppercase;
        color: $neutral-white-transparent-2;
        font-size: 1.1rem;
      }
    }
  }

  &-img {
    box-shadow: inset 0 0 0 1000px rgba(170, 92, 219, 0.623);
    background-image: url(/images/image-header-desktop.jpg);
    background-size: cover;
  }
}
